<div class="navbar">
  <p>
    <%= link_to 'Back to Lists', lists_path, class: 'btn-light opacity-50 text-decoration-none' %>
  </p>
  <h1 class="h1"><%= @list.name %></h1>
  <h1>
    <%= link_to "Add to #{@list.name} list", new_list_bookmark_path(@list), class: 'btn-danger text-decoration-none' %>
  </h1>
</div>
<div class="container mt-2">
  <% if @list.photo.attached? %>
    <%= image_tag @list.photo, width: 400, height: 300, crop: :fill %>
  <% elsif @list.bookmarks.any? %>
    <%= image_tag @list.bookmarks.sample.movie.poster_url, width:500, height:750, crop: :fill %>
  <% else %>
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
  <% end %>
  <div class="row justify-content-around">
    <% if @list.bookmarks.any? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-4">
          <div class="movie-card">
            <div class="container, p-2" style="background-color: rgb(211 211 211 / 56%);">
              <span style="display:flex; justify-content: center;"><%= image_tag bookmark.movie.poster_url, width: 100, height: 150 %></span>
            </div>
            <h5 class="text-center"><%= bookmark.movie.title %></h5>
            <div>
              <p><%= bookmark.movie.overview %></p>
              <p><%= bookmark.movie.rating%> / 10</p>
            </div>
            <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Delete review?' }, class: "delete-button", style: "display: flex; justify-content: center;" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">No bookmarks yet</div>
    <% end %>
  </div>
</div>
