<div class="container mt-2">
  <div class="row justify-content-around">
    <div class="col-sm-8" data-controller="insert-bookmark">
      <p>
        <%= link_to 'Back to Lists', lists_path, class: 'btn-light opacity-50 text-decoration-none' %>
      </p>
      <div class="d-flex align-items-center">
        <h1 class="m-0"><%= @list.name %></h1>
      </div>
    </div>
    <h3>
      Bookmarks
      <%= link_to "Add to #{@list.name} list", new_list_bookmark_path(@list)  %>
    </h3>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, widith: 400, height: 300, crop: :fill %>
    <% else %>
      <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
    <% end %>
    <ul>
      <% if @list.bookmarks.any? %>
        <% @list.bookmarks.each do |bookmark| %>
          <li>
            <%= bookmark.comment %>
            <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Delete review?' }  %>
          </li>
        <% end %>
      <% else %>
        <li>No bookmarks yet</li>
      <% end %>
    </ul>
  </div>
</div>
